h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 100px;
}

.bold-paragraph {
  color: #2427e6;
}

#bold {
  background-color: #2427e6;
  color: white;
}

img {
  width: 100%;
}
